#page-wrap {
    text-align: center;
    overflow: auto;
}

.bm-item {
    display: inline-block;
    text-decoration: none;
    padding: 10px;
    color: #d1d1d1;
    transition: color 0.2s;
}

.bm-item span {
    padding-left: 5px;
}

.bm-item svg {
    font-size: 48px;
}

.menu-item {
    border-top: #3466aa 0.1px solid;
}

.menu-item :hover {
    color: #ffffff;
}

.menu-item span {
    padding-left: 5px;
}

.menu-item svg {
    font-size: smaller;
}

.a {
    text-decoration: none;
}

.bm-item-list h2 {
    margin: 0 auto;
    padding: 2em 1em;
    color: #000000;
    border-bottom: none;
}

.bm-item-list header {
    border-bottom: none;
    cursor: pointer;
}

.bm-item-list .footer span {
    border-bottom: none;
    font-size: xx-small;
    float: right;
}

.bm-item-list .footer:hover {
    background-color: #114084;
}

.bm-item:hover {
    color: white;
    text-decoration: none;
    background-color: #3466aa;
}

.bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    left: 36px;
    top: 36px;
}

.bm-burger-bars {
    background: #114084;
}

.bm-cross-button {
    height: 24px;
    width: 24px;
}

.bm-cross {
    background: #bdc3c7;
}

.bm-menu {
    background: #114084;
    font-size: 1.15em;
}

.bm-morph-shape {
    fill: #373a47;
}

.bm-item-list {
    color: #b8b7ad;
}

.bm-overlay {
    background: rgba(0, 0, 0, 0.3);
}

a:hover {
    text-decoration: none;
}